<header>
    <div class="container">
    <video autoplay="" loop="" class="fillWidth fadeIn animated" id="video-background">
      <source src="img/backgroud.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Robin Delaporte</h1>
                        <h3>Back-end and mobile developper</h3>
                        <a class="btn" id="dogeMe">Doge me</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2>Find me on </h2>
                        <ul class="list-inline list-social">
                            <li class="social-twitter">
                                <a href="https://twitter.com/DelaporteRobin" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="social-facebook">
                                <a href="https://www.facebook.com/robin.delaporte.9" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="social-github">
                                <a href="https://github.com/azpery" target="_blank"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-linkedin">
                                <a href="https://www.linkedin.com/in/robin-delaporte-6503b595" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <br>
                        <h4>Download my CV</h4>
                        <a href="ressources/CV_Robin_Delaporte2017.pdf" target="_blank" class="center_block"><i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>