<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
   <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatastoreManager</display-name>
    <servlet-name>DatastoreManager</servlet-name>
    <servlet-class>DatastoreManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatastoreManager</servlet-name>
    <url-pattern>/store</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TweetFeeder</display-name>
    <servlet-name>TweetFeeder</servlet-name>
    <servlet-class>TweetFeeder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TweetFeeder</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  	
</web-app>